/*Inicio estilos login*/
.header{
    -fx-alignment: CENTER;
    -fx-background-color: #F8D251;
    -fx-pref-width: 100%;
    -fx-pref-height: 85px;
}

#form{
    -fx-alignment: CENTER;
    -fx-background-color: #F8D251;
    -fx-background-radius: 50 0 0 0;
    -fx-padding: 0 172 0 151;
}

.txt_entrada{
    -fx-pref-width: 400px;
    -fx-pref-height: 40px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-border-radius: 12px;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 12px;
    -fx-text-fill: #000000;
}

.txt_entrada:focused{
    -fx-border-width: 2px;
}

.btn_login{
    -fx-background-color: #40C340;
    -fx-background-radius: 8px;
    -fx-pref-width: 180px;
    -fx-pref-height: 50px;
    -fx-cursor: hand;
}

.btn_login:hover{
    -fx-background-color: #60CC60;
}

.btn_login:pressed{
    -fx-background-color: #2D852D;
}

.imageView{
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 21;
}
/*Fin estilos login*/

/*Incio estilos Sing_In*/
#form2{
    -fx-alignment: CENTER;
    -fx-background-color: #F8D251;
    -fx-background-radius: 8px;
}
/*Fin estilos Sing_In*/

/*Incio estilos Principal(catálogo)*/
.navBar{
    -fx-background-color: #F8D251;
    -fx-pref-width: 100%;
    -fx-pref-height: 85px;
}

.navBar Button{
    -fx-background-color: none;
}

.contenedorProducto{
    -fx-background-color: #F8D251;
    -fx-background-radius: 10px;
}

#separador{
    -fx-background-color: #000000;
}

#panelCarrito{
    -fx-background-color: whitesmoke;
    -fx-background-radius: 10px;
    -fx-border-color: #000000;
    -fx-border-radius: 10px;
}

#btnComprar{
    -fx-pref-width: 310px;
    -fx-pref-height: 60px;
    -fx-background-color: #40C340;
    -fx-background-radius: 10px;
    -fx-border-color: #000000;
    -fx-border-radius: 10px;
}

.bookCarrito{
    -fx-pref-width: 310px;
    -fx-pref-height: 70px;
    -fx-background-color: #F8D251;
    -fx-background-radius: 8px;
}

#btnCerrarSesion{
    -fx-background-color:  #40C340;
    -fx-border-color:  black;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

#btnCerrarSesion:hover {
    -fx-background-color: #60CC60;
}

#btnCerrarSesion:pressed {
    -fx-background-color: #2D852D;
}
/*Fin estilos Principal(catálogo)*/